In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [3]:
page = requests.get('https://en.wikipedia.org/wiki/Main_Page')
soup = BeautifulSoup(page.content)

HeaderTags = []
for i in soup.find_all(class_="mw-headline"):
  HeaderTags.append(i.text)

HeaderTags

['Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

In [4]:
page1 = requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&count=100&start=1&ref_=adv_nxt')
soup1 = BeautifulSoup(page1.content)

name = []

for i in soup1.find_all(class_="lister-item-header"):
    name.append(i.text.splitlines()[2])

rating = []
for i in soup1.find_all(class_="ratings-bar"):
    rating.append(i.text.split()[13])

release = []
for i in soup1.find_all(class_="lister-item-year text-muted unbold"):
    release.append(i.text)


print('*'*63)
print('\t\t\t IMDB’s Top rated 100 movies')
print('*'*63)

df_IMDB = pd.DataFrame({'Name of movie':name,'Rating of movie':rating,'Year of release of movie':release})

df_IMDB.head(100)

***************************************************************
			 IMDB’s Top rated 100 movies
***************************************************************

,Name of movie,Rating of movie,Year of release of movie
0,The Shawshank Redemption,9.3/10,(1994)
1,The Godfather,9.2/10,(1972)
2,The Dark Knight,9/10,(2008)
3,The Lord of the Rings: The Return of the King,9/10,(2003)
4,The Godfather Part II,9/10,(1974)
...,...,...,...
95,Vertigo,8.3/10,(1958)
96,Lawrence of Arabia,8.3/10,(1962)
97,Citizen Kane,8.3/10,(1941)
98,Toy Story 3,8.3/10,(2010)
99,M - Eine Stadt sucht einen Mörder,8.3/10,(1931)

In [7]:
page2 = requests.get('https://www.imdb.com/list/ls009997493/?sort=user_rating,desc&st_dt=&mode=detail&page=1')
soup2 = BeautifulSoup(page2.content)

name1=[]
for i in soup2.find_all('h3', class_="lister-item-header"):
    cells = i.find_all('a')
    name1.append(cells[0].text.strip())
    
rating1=[]
for i in soup2.find_all('div', class_="ipl-rating-star small"):
    rating1.append(i.text.replace('\n',''))

release1=[]
for i in soup2.find_all('span', class_="lister-item-year text-muted unbold"):
    release1.append(i.text)


print('*'*100)
print('\t\t IMDB’s Top rated 100 Indian movies')
print('*'*100)

df_Indian = pd.DataFrame({'Name of movie':name1,'Rating of movie':rating1,'Year of release of movie':release1})

df_Indian

****************************************************************************************************
		 IMDB’s Top rated 100 Indian movies
****************************************************************************************************

              Name of movie Rating of movie Year of release of movie
0                   Golmaal             8.5                   (1979)
1                  3 Idiots             8.4                   (2009)
2              Black Friday             8.4                   (2004)
3                     Guide             8.4                   (1965)
4                    Masoom             8.4                   (1983)
..                      ...             ...                      ...
95                 Rangeela             7.4                   (1995)
96  Jaane Tu... Ya Jaane Na             7.4                   (2008)
97             Socha Na Tha             7.4                   (2005)
98   Qayamat Se Qayamat Tak             7.4                   (1988)
99                    Gunda             7.3                   (1998)

[100 rows x 3 columns]

In [11]:
page3 = requests.get('https://presidentofindia.nic.in/former-presidents.htm')
soup3 = BeautifulSoup(page3.content)

PresidentName=[]
for i in soup3.find_all('div', class_="presidentListing"):
    cells = i.find_all('h3')
    PresidentName.append(cells[0].text.strip())

Term=[]
for i in soup3.find_all('div', class_="presidentListing"):
    cells = i.find_all('p')
    Term.append(cells[0].text.strip().replace('Term of Office:',''))

print('*'*100)
print('\t\t\t Former Presidents List')
print('*'*100)

df_president=pd.DataFrame({'Name of President':PresidentName,'Term of Office':Term})
df_president

****************************************************************************************************
			 Former Presidents List
****************************************************************************************************

,Name of President,Term of Office
0,Shri Ram Nath Kovind (birth - 1945),"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee (1935-2020),"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil (birth - 1934),"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam (1931-2015),"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan (1920 - 2005),"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri (1894-1980),"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain (1897-1969),"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"26 January, 1950 to 13 May, 1962"

In [13]:
page3 = requests.get('https://presidentofindia.nic.in/former-presidents.htm')
soup3 = BeautifulSoup(page3.content)

PresidentName=[]
for i in soup3.find_all('div', class_="presidentListing"):
    cells = i.find_all('h3')
    PresidentName.append(cells[0].text.strip())

Term=[]
for i in soup3.find_all('div', class_="presidentListing"):
    cells = i.find_all('p')
    Term.append(cells[0].text.strip().replace('Term of Office:',''))

print('*'*100)
print('\t\t\t Former Presidents List')
print('*'*100)

df_president=pd.DataFrame({'Name of President':PresidentName,'Term of Office':Term})
df_president

****************************************************************************************************
			 Former Presidents List
****************************************************************************************************

,Name of President,Term of Office
0,Shri Ram Nath Kovind (birth - 1945),"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee (1935-2020),"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil (birth - 1934),"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam (1931-2015),"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan (1920 - 2005),"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri (1894-1980),"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain (1897-1969),"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"26 January, 1950 to 13 May, 1962"

In [15]:
page4_b= requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
soup4_b= BeautifulSoup(page4_b.content)

Player=[]
Team=[]
Rating=[]

for i in soup4_b.find_all('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) == 5:
        Player.append(cells[1].text.strip().replace('\n'," , "))
        Team.append(cells[2].text.strip())
        Rating.append(cells[3].text.strip())
        
print('*'*100)
print(" Top 10 ODI Batsmen in Men's Cricket")
print('*'*100)

df_icc_batting= pd.DataFrame({'Player':Player,'Team':Team,'Rating':Rating})  
df_icc_batting

****************************************************************************************************
 Top 10 ODI Batsmen in Men's Cricket
****************************************************************************************************

                  Player Team Rating
0             Babar Azam  PAK    891
1  Rassie van der Dussen   SA    766
2            Imam-ul-Haq  PAK    764
3        Quinton de Kock   SA    759
4           David Warner  AUS    747
5            Virat Kohli  IND    726
6            Steve Smith  AUS    719
7           Rohit Sharma  IND    715
8         Jonny Bairstow  ENG    710
9           Fakhar Zaman  PAK    695

In [16]:
page4_c= requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
soup4_c= BeautifulSoup(page4_c.content)

Player=[]
Team=[]
Rating=[]

for i in soup4_c.find_all ('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) == 5:
        Player.append(cells[1].text.strip().replace('\n'," , "))
        Team.append(cells[2].text.strip())
        Rating.append(cells[3].text.strip())

print('*'*100)
print("  Top 10 ODI Bowlers in Men's Cricket")
print('*'*100)

df_icc_bowling=pd.DataFrame({'Player':Player,'Team':Team,'Rating':Rating})
df_icc_bowling

****************************************************************************************************
  Top 10 ODI Bowlers in Men's Cricket
****************************************************************************************************

              Player Team Rating
0        Trent Boult   NZ    744
1     Josh Hazlewood  AUS    727
2     Mitchell Starc  AUS    665
3        Rashid Khan  AFG    659
4         Matt Henry   NZ    656
5         Adam Zampa  AUS    655
6     Shaheen Afridi  PAK    654
7    Shakib Al Hasan  BAN    652
8  Mustafizur Rahman  BAN    638
9   Mujeeb Ur Rahman  AFG    637

In [19]:
page5 = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
soup5 = BeautifulSoup(page5.content)

Matches = []
Points = []
Rating = []
Team = []
Ranking = []

for i in soup5.find_all('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) == 5:
        Ranking.append(cells[0].text.strip())
        Team.append(cells[1].text.strip().replace('\n'," , "))
        Matches.append(cells[2].text.strip())
        Points.append(cells[3].text.strip())
        Rating.append(cells[4].text.strip())

print('*'*100)
print("     Top 10 ODI Teams in Women's Cricket")
print('*'*100)

df_Womens = pd.DataFrame({' Ranking':Ranking,'Team':Team,'Matches':Matches,'Points':Points,'Rating':Rating})  
df_Womens

****************************************************************************************************
     Top 10 ODI Teams in Women's Cricket
****************************************************************************************************

   Ranking               Team Matches Points Rating
0        1    Australia , AUS      18  3,061    170
1        2      England , ENG      28  3,342    119
2        3  South Africa , SA      26  3,098    119
3        4        India , IND      27  2,820    104
4        5   New Zealand , NZ      25  2,553    102
5        6   West Indies , WI      27  2,535     94
6        7   Bangladesh , BAN      13    983     76
7        8     Thailand , THA       8    572     72
8        9     Pakistan , PAK      24  1,519     63
9       10     Sri Lanka , SL       8    353     44

In [20]:
page5_b= requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
soup5_b= BeautifulSoup(page5_b.content)

Player=[]
Team=[]
Rating=[]

for i in soup5_b.find_all('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) == 5:
        Player.append(cells[1].text.strip().replace('\n'," , "))
        Team.append(cells[2].text.strip())
        Rating.append(cells[3].text.strip())
        
print('*'*100)
print("  Top 10 ODI Batting Players in Women's Cricket")
print('*'*100)

df_womenbatt= pd.DataFrame({'Player':Player,'Team':Team,'Rating':Rating})  
df_womenbatt

****************************************************************************************************
  Top 10 ODI Batting Players in Women's Cricket
****************************************************************************************************

                Player Team Rating
0         Alyssa Healy  AUS    785
1          Beth Mooney  AUS    749
2      Laura Wolvaardt   SA    732
3       Natalie Sciver  ENG    731
4     Harmanpreet Kaur  IND    716
5      Smriti Mandhana  IND    714
6          Meg Lanning  AUS    710
7       Rachael Haynes  AUS    701
8  Chamari Athapaththu   SL    655
9         Ellyse Perry  AUS    642

In [23]:
page6= requests.get('https://www.cnbc.com/world/?region=world')
soup6= BeautifulSoup(page6.content)

Headline = []
for i in soup6.find_all('a', class_="LatestNews-headline"):
    Headline.append(i.get('title'))


Time = []
for i in soup6.find_all('span', class_="LatestNews-wrapper"):
    Time.append(i.text)

News_Link = []
for i in soup6.find_all('a',class_="LatestNews-headline"):
    News_Link.append(i.get('href'))
    
print('*'*100)
print("News Details are below")
print('*'*100)


News= pd.DataFrame({'Headline':Headline,'Time':Time,'News link':News_Link})  
News

****************************************************************************************************
News Details are below
****************************************************************************************************

,Headline,Time,News link
0,Want to sound more assertive? Avoid these 4 ph...,6 Min Ago,https://www.cnbc.com/2023/01/15/want-to-sound-...
1,The most-popular big tech default email progra...,49 Min Ago,https://www.cnbc.com/2023/01/15/the-most-popul...
2,State-run auto-IRA programs continue growing a...,1 Hour Ago,https://www.cnbc.com/2023/01/15/state-run-auto...
3,Food fraud secretly infiltrates America. Here'...,2 Hours Ago,https://www.cnbc.com/2023/01/15/food-fraud-sec...
4,10 auto industry predictions for investors to ...,2 Hours Ago,https://www.cnbc.com/2023/01/15/ten-auto-indus...
5,Mark Cuban on the company that made him rich: ...,2 Hours Ago,https://www.cnbc.com/2023/01/15/mark-cuban-on-...
6,Wall Street's favorite retail stocks include A...,2 Hours Ago,https://www.cnbc.com/2023/01/15/wall-streets-f...
7,A busy movie calendar will lead to a 15% jump ...,3 Hours Ago,https://www.cnbc.com/2023/01/15/a-busier-movie...
8,These tactical trades are among Goldman's favo...,3 Hours Ago,https://www.cnbc.com/2023/01/15/these-tactical...
9,More classified documents found at Biden’s Del...,22 Hours Ago,https://www.cnbc.com/2023/01/14/white-house-sa...
10,The biggest risks of using Bluetooth trackers ...,22 Hours Ago,https://www.cnbc.com/2023/01/14/the-biggest-se...
11,Veganuary: 3 ways to meet your protein goals o...,24 Hours Ago,https://www.cnbc.com/2023/01/14/veganuary-3-wa...
12,Investing in last year's top 10 stocks is 'a r...,24 Hours Ago,https://www.cnbc.com/2023/01/14/best-performin...
13,4 side hustles for introverts: Some can bring ...,24 Hours Ago,https://www.cnbc.com/2023/01/14/side-hustles-f...
14,Here are the odds you'll win the $404 million ...,"January 14, 2023",https://www.cnbc.com/2023/01/14/powerball-odds...
15,The condo king of Miami is betting big on a ne...,"January 14, 2023",https://www.cnbc.com/2023/01/14/condo-king-mia...
16,Carmakers upgrade lineups to meet high-end dem...,"January 14, 2023",https://www.cnbc.com/2023/01/14/carmakers-upgr...
17,What it’s like to deliver for Amazon in new el...,"January 14, 2023",https://www.cnbc.com/2023/01/14/what-its-like-...
18,The bold bullish case to be made for U.S. stocks,"January 14, 2023",https://www.cnbc.com/2023/01/14/the-bold-bulli...
19,Earnings stars: Stocks expected to post the bi...,"January 14, 2023",https://www.cnbc.com/2023/01/14/earnings-stars...
20,Morgan Stanley says these are the most underva...,"January 14, 2023",https://www.cnbc.com/2023/01/14/stocks-like-di...
21,"Stocks on a roll. But overbought market, earni...","January 14, 2023",https://www.cnbc.com/2023/01/14/investing-club...
22,The zero-fare public transit movement is picki...,"January 14, 2023",https://www.cnbc.com/2023/01/14/zero-fare-publ...
23,"Building self-discipline by age 27 is crucial,...","January 14, 2023",https://www.cnbc.com/2023/01/14/psychiatrist-f...
24,Iran executes British-Iranian national despite...,"January 14, 2023",https://www.cnbc.com/2023/01/14/iran-executes-...
25,Rising commodities prices could be a tailwind ...,"January 13, 2023",https://www.cnbc.com/2023/01/13/rising-commodi...
26,Cramer's lightning round: Costamare is not a buy,"January 13, 2023",https://www.cnbc.com/2023/01/13/cramers-lightn...
27,Cramer’s week ahead: Wait before trading on co...,"January 13, 2023",https://www.cnbc.com/2023/01/13/cramers-week-a...
28,CDC review finds it’s unlikely Pfizer booster ...,"January 13, 2023",https://www.cnbc.com/2023/01/13/pfizer-covid-b...
29,"House targets China, abortion, IRS funding in ...","January 13, 2023",https://www.cnbc.com/2023/01/13/gop-house-targ...

In [25]:
page8= requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
soup8= BeautifulSoup(page8.content)

Paper_Title=[]
for i in soup8.find_all('h2', class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    Paper_Title.append(i.text)

Authors=[]
for i in soup8.find_all('span', class_="sc-1w3fpd7-0 dnCnAO"):
    Authors.append(i.text)  

Published_Date=[]
for i in soup8.find_all('span', class_="sc-1thf9ly-2 dvggWt"):
    Published_Date.append(i.text)  

Paper_URL=[]
for i in soup8.find_all('a', class_="sc-5smygv-0 fIXTHm"):
    Paper_URL.append(i.get('href'))

print('*'*125)
print('\t\t\t\t\t\t Most Downloaded Articles are here')
print('*'*125)

Articles=pd.DataFrame({'Paper Title': Paper_Title,'Authors': Authors,'Published Date': Published_Date, 'Paper URL':Paper_URL})
Articles

*****************************************************************************************************************************
						 Most Downloaded Articles are here
*****************************************************************************************************************************

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

In [27]:
page9= requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
soup9= BeautifulSoup(page9.content)

restaurant_name= []
for i in soup9.find_all('a', class_="restnt-name ellipsis"):
    restaurant_name.append(i.text)

Cuisine=[]
for i in soup9.find_all('div', class_="detail-info"):
    Cuisine.append((i.text.split()[6])+(' ')+(i.text.split()[7]))


location=[]
for i in soup9.find_all('div', class_="restnt-loc ellipsis"):
    location.append(i.text)

Ratings= []
for i in soup9.find_all('div', class_="restnt-rating rating-4"):
    Ratings.append(i.text)

Image_URL= []
for i in soup9.find_all('img', class_="no-img"):
    Image_URL.append(i['data-src'])


print('*'*100)
print('\t\t\t\t\t\t Restaurant Details are here')
print('*'*100)

dineout=pd.DataFrame({'Restaurant_Name':restaurant_name,'Cuisine':Cuisine,'Location':location,'Ratings':Ratings,'Image_URL':Image_URL})
dineout

****************************************************************************************************
						 Restaurant Details are here
****************************************************************************************************

,Restaurant_Name,Cuisine,Location,Ratings,Image_URL
0,Castle Barbeque,"Chinese, North","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian,","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Castle Barbeque,"Chinese, North","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian,","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian,","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.6,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian,","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...